[run]
parallel = True

[report]
include = FetchPublicBlacklists*,tests*
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    except Exception
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    raise ImportError
    except unittest.SkipTest as skiperr
    if someIPs is None:
    if someIP is None:
    if some_bit is None:
    if some_mask_bit is None:
    if someInts is None:

    # Don't complain if non-runnable code isn't run:
	if __name__ in u'__main__':

ignore_errors = True

